@model PagedList.IPagedList<TestAppOrders.Models.Order>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>
<div id="Dialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="row">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Create New", "Create", "Home", new { }, new { @onclick = "EditClickHandler(event, this)" })
        </p>
    </div>

    <div class="col-md-4 col-md-offset-6">
        <select id="list">
            <option id="listtype"  value="Number">Number</option>
            <option id="listtype"  value="Manager">Manager</option>
            <option id="listtype"  value="Annotation">Annotation</option>
        </select>
        @{
            var options = new AjaxOptions()
            {
                UpdateTargetId = "tab",
                HttpMethod = "GET",
            };
        }
        : <input type="text" value="" id="search" class="text-info" placeholder="e.g. Ivanov" />
        @Ajax.ActionLink("OK", "Filter", new { search = "searchValue", type = "typeValue" }, options, new { @class = "btn btn-success link type" })
    </div>
</div>
<br />
<table class="table table-hover" id="tab">
    <tr>
        <th>
            @Html.Label("Number")
        </th>
        <th>
            @Html.DisplayName("Create Date")
        </th>
        <th>
            @Html.DisplayName("End Date")
        </th>
        <th>
            @Html.DisplayName("Manager")
        </th>
        <th>
            @Html.DisplayName("Annotation")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annotation)
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @onclick = "EditClickHandler(event, this)" } ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('.link').click(function () {
                var search = $("#search").val();
                var type = $("#list option:selected").val();
                this.href = this.href.replace("searchValue", search);
                this.href = this.href.replace("typeValue", type);
            });
        });
           
            function EditClickHandler(event, element) {
                $.ajaxSetup({ cache: false });
                event.preventDefault();
                $.get(element.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#Dialog').modal('show');
                });
            }
       
    </script>
}